<h1>Your Cart</h1>

<div class="container">
  <% if @cart.line_items.any? %>
    <% @cart.line_items.each do |line_item| %>
      <div class="row">
        <div class="col-md-3">
          <% if line_item.product.image.present? %>
            <%= image_tag line_item.product.image.url, alt: line_item.product.name, class: 'product-image img-thumbnail' %>
          <% else %>
            <p>No image available</p>
          <% end %>
        </div>
        <div class="col-md-6">
          <h3><%= line_item.product.name %></h3>
          <p><%= line_item.product.description %></p>
          <% if line_item.product.price %>
            <p>Price: <%= number_to_currency(line_item.product.price) %></p>
          <% else %>
            <p>Price not available</p>
          <% end %>
          <% if line_item.quantity %>
            <p>Quantity: <%= line_item.quantity %></p>
          <% else %>
            <p>Quantity not available</p>
          <% end %>
          <% if line_item.quantity && line_item.product.price %>
            <% total_price = line_item.quantity * line_item.product.price %>
            <p>Total: <%= number_to_currency(total_price) %></p>
          <% else %>
            <p>Total not available</p>
          <% end %>
        </div>
        <div class="col-md-3">
          <%= link_to 'Remove', line_item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div>
      </div>
      <hr>
    <% end %>
  <% else %>
    <p>Your cart is empty.</p>
  <% end %>

  <div class="actions">
   <%= link_to 'Buy', '#', class: 'btn btn-success btn-block buy-button' %>
    <%= link_to 'Continue Shopping', products_path, class: 'btn btn-primary' %>
  </div>
</div>

