<!DOCTYPE html>
<html lang="ua">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= yield :title %> Restaurant </title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background: url('/images/back.jpg') no-repeat center center fixed;
      background-size: cover;
      color: white;
      min-height: 100vh; /* Ensure it covers the entire viewport */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .header {
      background-color: rgba(0, 0, 0, 0.5); 
      padding: 20px;
      width: 80%;
      max-width: 800px;
      margin-bottom: 20px;
      border-radius: 10px;
    }
    .button-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
    }
    .button {
      background-color: #64b5f6;
      color: white;
      border: none;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;
      border-radius: 5px;
    }
    .button:hover {
      background-color: #42a5f5;
      transform: scale(1.05);
    }
  </style>
</head>
<body>
  <header class="header">
    <h1>Restaurant</h1> 
    <nav>
      <ul>
        <li><%= link_to 'Main', root_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
        <li><%= link_to 'Menu', products_path %></li>
        <li>
          <%= link_to carts_path, class: 'btn btn-primary' do %>
            <i class="fa fa-shopping-cart"></i> Cart
            <% if @cart.present? && @cart.line_items.any? %>
              <span class="badge badge-light"><%= @cart.line_items.count %></span>
            <% end %>
          <% end %>
        </li>
      </ul> 
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to 'Logout', logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign up', signup_path %></li>
          <li><%= link_to 'Login', login_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <div class="content">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %> 
  </div>
</body>
</html>
